@use 'mixins';

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .layover {
    bottom: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      margin: 2em;
      .contentWrapper {
        border-radius: 10px;
        padding: 2em;
        background-color: rgba($color: #fff, $alpha: 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        button {
          border: none;
          padding: 1em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.background-image {
  position: absolute;
  opacity: 0.02;
  left: 5vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none;
}

.promotional-message {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center;

  h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 100px;
    @include mixins.mobile {
      font-size: 50px;
    }
    margin: 0;
    color: mixins.$color-blue;
  }
}
