@use 'mixins';
.product {
  display: flex;
  flex-direction: row;
  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }

  &__title {
  }

  &__description {
    @include mixins.mobile {
    }
  }

  &__price {
    grid-area: price;
    font-size: 28px;
    font-weight: bold;
  }
  &__img {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    max-width: 500px;
    object-fit: fill;
    box-shadow: 0 18.025px 43.775px rgba(0, 0, 0, 0.25);

    @include mixins.mobile {
    }
  }

  &__price-button-container {
    display: flex;
  }

  &__button {
    // margin-left: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 20px;
    border: none;
    background-color: mixins.$color-purple;
    color: white;
    position: relative;

    &:hover {
      transition: 0.2s all;
      &:before {
        transform: scale(1.15, 1.4);
      }
    }

    &:before {
      content: ' ';
      position: absolute;
      background-color: mixins.$color-purple;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -1;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
    }
  }
  // TODO move mixins in colors
  @include mixins.mobile {
    &__price-button-container {
      display: flex;
      flex-direction: column;
    }
    .product__image {
      margin-bottom: 20px;
    }
  }
}
